.contact-section {
    background-color: white;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
}

.contact-form input:focus {
    border-bottom: 1px solid #ff6565;
}

.cta-button {
    background-color: #FF6565;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #e14b4b;
}